.ui.form
    if transition
        .field.required
            label(for="oldState") Начальное состояние
            input(name="oldState" type="text" value=oldState)

        .field.required
            label(for="newState") Конечное состояние
            input(name="newState" type="text" value=newState)
    
    .field.required
        label(for="name") Название
        input(name="name" type="text" value=name)

    .field
        label(for="comment") Описание
        textarea(name="comment" value=comment)
            =comment
