.ui.top.attached.tabular.menu
    a.active.item(data-tab="main") Основные
    
    if transition
        a.item(data-tab="rules") Правила перехода
    else
        a.item(data-tab="props") Свойства и правила
                 
    a.item(data-tab="actions") События и действия

.ui.bottom.attached.active.tab.segment(data-tab="main")

if transition
    .ui.bottom.attached.tab.segment(data-tab="rules") Правила перехода
else
    .ui.bottom.attached.tab.segment(data-tab="props") Свойства и правила

.ui.bottom.attached.tab.segment(data-tab="actions")
