.title
    i.dropdown.icon
    |'#{name}: #{value}'
    
    i(title="Добавить" class="addItem plus large icon green link icon")
    i(title="Редактировать" class="editItem write large icon blue link icon")
    i(title="Удалить" class="removeItem remove large icon red link icon")
        
.content
    .accordion
