a#getWFBtn(title="Получить схему рабочего процесса" class='item')
    i.database.icon

a(title="Создать" class='ui dropdown item')
    i.plus.icon
    .menu
        .header Создать
        .ui.divider
        #addStateBtn.item Состояние
        #addTransitionBtn.item Переход
