state-fill = #05A99D
state-stroke = #025C55

transition-fill = #0D6AB6
transition-stroke = #0D6AB6

/*State element*/
.element.wf.State
    &:hover
        rect
            stroke lighten(state-stroke, 10%)
            fill lighten(state-fill, 15%)

/*Transition element*/
.labels
    &:hover rect
        stroke lighten(transition-stroke, 30%)