.formWF
    min-width 700px
    min-height 450px
    width 50vw
    margin 10vw auto 0
    height 50vh
    padding 0.5em
    box-shadow 0px 2px 5px 0 rgba(0, 0, 0, 0.26)

.areaForWF
    display block
    width 100%
    height 90%
    margin 0 0 0.8em 0
    border 1px solid rgba(0,0,0,0.12)

.textForWF
    display inline-block
    line-height 1.4em
    font-size 1.2em

.buttonWF
    float right
    font-family inherit
    font-size 1em
