@import 'reset.css'
@import './pages/form'
@import './pages/editor'

*
    box-sizing border-box

body
    font-family sans-serif
    color rgba(0,0,0,0.87)
    min-width 1024px

// for QuickView
#quickView
    ul.ui.list ul
    .ui.bulleted.list .list
        padding 0
        margin-left 1rem

    ul.ui.list li
    .ui.bulleted.list .list > .item
    .ui.bulleted.list > .item
    ul.ui.list li:last-child
    ol.ui.list li:last-child
    .ui.list .list > .item:last-child
    .ui.list > .item:last-child
        padding 0

//for itemEditorAtions
.actionsBlock
    margin 0 0 0 10px
    display none

    &.hide
        display none

    &.show
        display inline-block

//Edit component
.propList:empty
    display none

.ui.accordion .accordion
    margin 0

.addParent
    margin 10px !important


// Мегаспособ отключения возможности удаления ссылки
.link-tools
    .tool-remove,
    .marker-arrowheads
        display none

.marker-arrowheads
    display none
