.content
.actions
    #removeElement.ui.red.right.labeled.icon.button
        |Удалить
        i.remove.icon

    .ui.button.close
        |Закрыть

    #saveEditWinData.ui.positive.right.labeled.icon.button
        |Сохранить
        i.checkmark.icon
