.header
    if name
        |Редактирование элемента #{name}
    else
        |Создание элемента
    
.content
    .ui.form
        .field.fluid.required
            label(for='name') Название
            input.nameField(type='text' name='name' placeholder='Введите название элемента' value=name)
                
        .field.fluid
            label(for='value') Значение
            input.valueField(type='text' name='value' placeholder='Введите значение элемента' value=value)

.actions
    .ui.button.close
        |Закрыть
    
    #saveItemData.ui.positive.right.labeled.icon.button
        |Сохранить
        i.checkmark.icon
