mixin list(list)
    ul.ui.list
        each item in list
            li= item.name
            if item.values
                +list(item.values)

mixin block(model)
    if model.data
        u= model.text
        +list(model.data)

+block(model)
